
.mainback404{
    background-color: #f6f5f3;
    font-family: 'Roboto', sans-serif;
   
}
.body404{
    background-color: white;
   
}
.head404{
    background-color: white;
   
}
li{
    list-style: none;
    display: inline;
    
    }
    li a{
        text-decoration: none;
        padding: 15px;
        font-size: 11px;
        line-height: 5px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
       
      
    }
    li a:hover{
        background: #453630;
        color:#9B7E4B;
        border-radius: 20px;
    }
    .h1{
        text-align: center;
        
    }
    .nav{
        text-align: center;
    }
    .table{
        float: right;
        padding: 25px;
    }
    .img404{
        width: 400px;
        height: 200px;
        margin-left: 600px;
        padding-top:100px;
        background-color: white;
        background-position:center;
        padding:50px 30px;
        background-attachment:fixed;
        background-size: contain;
        
  }
   .p404{
    text-align: center;
   }
.section404{
    background-color: white;
    display: flex;
    position: absolute;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
    margin-left: 300px;
}
